/* General */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile {
    display: none !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: 900;
    font-size: 1.8rem;
}

/* Header */
header {
    padding: 0 24px;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
header #logo {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
header #logo img {
    height: 45px;
}
header #logo p {
    text-transform: uppercase;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 1.2rem;
}

header #navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}
header #navbar a {
    text-decoration: none;
    color: black;
}


@media only screen and (max-width: 480px) {
    section {
        border-bottom: 1px solid lightgray;
    }

    .desktop {
        display: none !important;
    }
    .mobile.flex {
        display: flex !important;
    }
    header {
        display: block;
        
        height: 64px;
    }
    #navbar {
        width: 100%;
        height: 100%;
    }
    #navbar ul {
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }
    #navbar ul img {
        height: 35px;
    }
}


/* Main */
main {
    color: rgb(74,74,74);
}


/* Main Section 1: BANNER */
#banner {
    background-color: lightgray;
    padding: 32px 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
#banner .img-container {
    width: 60%;
}
#banner img {
    width: 100%;
    height: auto;
    /* Serve definire altezza img-container per poter avere object-fit: cover; */
}
#banner .text-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    
}
#banner .text-container > * {
    display: block;
}

#banner p {
    font-weight: bold;
}
#banner a {
    width: 90%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    padding: 8px auto;
    background-color: rgb(74, 74, 74);
    color: white;
    display: block;
    text-decoration: none;
}
#banner a:hover {
    border: 1px solid seashell;
}


@media only screen and (max-width: 480px) {
    #banner {
        padding: 0;
        flex-direction: column;
    }
    #banner .img-container {
        width: 100%;
        height: auto;
    }
    #banner .text-container {
        padding: 32px 16px;
        width: 100%;
        height: auto;
        align-items: center;
    }
    #banner .text-container h1 {
        margin-bottom: 32px;
    }
    #banner .text-container p {
        margin-bottom: 24px;
    }
    #banner .text-container a {
        width: 100%;
    }
}


/* Main Section 2: Information */
#information {
    background-color: white;
    padding: 32px 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
#information .left-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
#information .left-panel img {
    width: 100%;
    height: auto;
}

#information .left-panel .text-container p {
    margin-top: 24px;
}

#information .right-panel {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
}
.card-small {
    padding: 16px;
    border: 1px solid lightgray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card-small .img-container {
    width: 35%;
}
.card-small img {
    width: 100%;
    height: auto;
}
.card-small .text-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-small a {
    text-decoration: none;
    color: cadetblue;
}

@media only screen and (max-width: 480px) {
    #information {
        display: block;
        padding: 16px 16px 32px;
    }
    #information .right-panel {
        width: 100%;
        gap: 64px;
    }

    .card-small {
        border: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    
    .card-small .text-container {
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .card-small .img-container {
        width: 100%;
        height: 150px;
    }
    
    .card-small img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .card-small .text-container {
        margin-left: 16px;
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .card-small a {
        text-decoration: none;
        color: cadetblue;
    }
}

/* Main Section 3: Courses */
#courses {
    padding: 32px 72px;
    background-color: lightgray;
}
#courses h1 {
    margin-bottom: 32px;
    text-align: center;
}
#courses .courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    height: 400px;
}
.card .img-container {
    height: 50%;

}
.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card .text-container {
    padding: 16px;
}

.card .text-container > * {
    display: block;
    margin-bottom: 8px;
}

.card .text-container > h4 {
    font-size: 1.3rem;
}
.card .text-container > p {
    font-weight: light;
    font-size: 1.2rem;
}


@media only screen and (max-width: 480px) {

    #courses {
        padding: 32px 16px;
        background-color: white;
    }

    #courses h1 {
        margin-bottom: 16px;
        text-align: center;
    }

    #courses .courses {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .card {
        background-color: lightgray;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100px;
    }

    .card .text-container {
        padding: 16px 16px 24px;
    }

    .card .text-container > h4 {
        font-size: 1.3rem;
    }
}


/* Main Section 4: Thesis */
#thesis {
    padding: 32px 24px;
    background-color: white;
    border-bottom: 1px solid gray;
}
#thesis h1 {
    margin-bottom: 32px;
    text-align: center;
}

#thesis .container {
    background-color: white;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
#thesis .left-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
#thesis video {
    width: 100%;
}
#thesis .left-panel .text-container > h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}
#thesis .right-panel {
    width: 40%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


@media only screen and (max-width: 480px) {
    #thesis {
        padding: 32px 0 24px;
    }

    #thesis h1 {
        margin-bottom: 16px;
    }

    #thesis .container {
        padding: 0;
        display: block;
    }

    #thesis .left-panel {
        width: 100%;
        display: block;
        flex-direction: column;
    }

    #thesis video {
        width: 100%;
    }
}


/* Footer */
footer {
    color: gray;
    padding: 16px 24px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer #terms-and-privacy a {
    text-decoration: none;
    color: gray;
}

@media only screen and (max-width: 480px) {
    footer {
        padding: 16px;
    }
}


/*********************************************/